__pycache__/
*.pyc
*.pyo
*.pyd

outputs/
results/*
lmms-eval/

*.pkl
*.pt
*.bin
*.safetensors
*.whl
*.sh

.vscode
datasets/*/blip2_features_and_scores*
datasets/*/video
datasets/*/videos
datasets/videomme/data
